#仮想環境
exp_env

#先生の例が書いているフォルダ
face_pose

#ロードする動画ファイル
detected_video.mp4
target_video.MOV
target_video.mp4

#テスト用のファイル
IMG_7295.MOV
IMG_8301.MOV

__pycache__
.streamlit
test.py
video_pose_detection.py

.gitignore